body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 24px;
    color: #353535;
    line-height: 1.4em;
}

header:before {
    position: absolute;
    display: block;
    content: '';
    /*background: url(../images/pattern.png);*/
    opacity: 0.2;
    width: 100%;
    height: 400px;
}
header {
    text-align: center;
    height: 400px;
    background: url(../images/header-background.jpg) fixed center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

p a {
    background-color: yellow;
    color: black;
    padding: 3px;
    text-decoration: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #353535;
    text-decoration: none;
    border-bottom: 1px solid yellow;
}

ul li span {
    color: gray;
    font-size: 30px;
    display: block;
}

section {
    width: 800px;
    margin: auto;
}

header img {
    width: 240px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -120px;
    margin-top: 40px;
    border-radius: 50%;
    border: 10px solid white;
}

footer {
    margin-top: 60px;
    background: #f7f7f7;
}

footer p {
    padding: 30px;
    width: 800px;
    margin: auto;
    font-size: 23px;
}

nav {
margin-top: -70px;
height: 70px;
    z-index: 999;
}

nav ul {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    margin-left: -370px;
    left: 50%;
}

nav ul li {
    float: left;
    list-style: none;
    padding: 3px 9px;
    margin: 0;
}

nav ul li a {
    border-bottom: 4px solid yellow;
}

#supporters a {
    border: none;
    background: none;
    color: #959595;
    text-decoration: underline;
}

p {
    line-height: 1.6em;
    color: #414141;
}

#press ul {
    margin: 0;
    padding: 0;
}

#press ul li {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}